body{
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: #2a84dd;
    color: white;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    font-weight: bold;
    font-size: 24px;
    padding: 8px;
    text-decoration: none;
    color: black;
    /* background-color: white; */
}

.content {
    padding: 24px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.authbar a {
    margin-bottom: 24px;
    border-radius: 8px;
    font-size: 18px;
    padding: 12px;
    text-decoration: none;
    background-color: #2a84dd;
    color: white;
}

.authbar {
    margin-bottom: 24px;
    text-align: end;
}

img {
    margin-top: 12px;
}

.maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tambah {
    border-radius: 8px;
    font-size: 18px;
    padding: 12px;
    text-decoration: none;
    background-color: #2a84dd;
    color: white;

}

table {
    border: solid black 1px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;
}

th,td {
    border: 1px solid black;
    padding: 12px;
}

.userbar {
    display: flex;
    justify-content: end;
}

.user 
{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    width: 8%;
    justify-content: space-between;
    /* background-color: #2a84dd; */
    align-items: center;
}

.button
{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    width: 8%;
    justify-content: space-between;
    align-items: center;
}

.button a {
    margin-right: 20px;
    background-color: #2a84dd;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.action
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.absensi-sm
{
    border: 1px solid black;
    background-color: #2a84dd;
    border-radius: 8px;
    display: none;
    color:white;
    font-weight: bold;
    margin-bottom: 8px;
}

.container-sm {
    display: none;
}

.absensi-sm hr {
    margin-left: 10px;
    margin-right: 10px;
}
.jurnal-sm
{
    border: 1px solid black;
    background-color: #2a84dd;
    border-radius: 8px;
    display: none;
    color:white;
    font-weight: bold;
    margin-bottom: 8px;
}

.jurnal-sm hr {
    margin-left: 10px;
    margin-right: 10px;
}

.jurnal-sm img {
}

.dashboard-image {
    width: 700;
    height: 400;
}

@media (max-width: 768px) {
    .container-sm {
        display: block;
    }
    .absensi-sm {
        display: flex;
    }
    .jurnal-sm {
        display: flex;
    }
    .absensi-lg{
        display: none;
    }
    .jurnal-lg{
        display: none;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
     .content{
        width: auto;

     }
     .dashboard-image {
        height: 50;
        width: 100;
     }
}
