body {
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 10px;
    margin: 10px;
}

a {
    margin-bottom: 24px;
    border-radius: 8px;
    font-size: 18px;
    padding: 12px;
    text-decoration: none;
    background-color: #2a84dd;
    color: white;
}